
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: whitesmoke;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: beige;
}
.con{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #0e1111;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.dis{
    height: 80px;
    width: 100%;
    outline: none;
    border-radius: 4%;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    pointer-events: none;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #232b2b;
    font-size: 20px;
    cursor: pointer;
}
.buttons button:active {
    transform: scale(0.99);

}
.operator{
    color: aqua;
}
